/*
color 1: 009900  main green
color 2: 006b00  dark green
color 3: fecb00  gold yellow
color 4: fe9834  orange
color 5: bfffbf  pale green
color 6: 80FF80  light green
color 7: 005899  blue gray
*/

#centered {
	position: absolute;
	left: 0px;
	top: 0px;
}

#mainmenu {
	padding-bottom: 15px;
	padding-top: 0px;
	position: absolute;
	width: 100%;
}

/* Page Tabs */
#pagenav {
	height: 27px;
}

#pagenav li {
        margin-top: 3px;
        padding-top: 3px;
        padding-bottom: 3px;
}

#pagenav li.active {
        padding-top: 5px;
}

#pagenav a {
        font-size: 11pt;
}
/* End Page Tabs */

#maincontent {
	border: 2px solid #fecb00;
	margin-bottom: 10px;
	padding: 5px;
	position: relative;
	overflow: auto;
}

#mainblurb {
	border-right: 1px solid #fecb00;
	padding-right: 10px;
	width: 350px;
}

#searchbox {
	left: 390px;
	position: absolute;
	top: 10px;
}

#subcontent {
	position: relative;
}

#subblurb {
	border: 1px solid #009900;
	border-bottom: 15px solid #009900;
	margin-right: 190px;
	padding: 10px;
}

#subblurb h4 {
	background: #009900;
	color: #fff;
	font-size: 10pt;
	padding: 2px 5px;
}

#quickbox {
	border: 1px solid #009900;
	padding: 10px;
	position: absolute;
	right: 0px;
	top: 0px;
	width: 150px;
}

#quickbox span {
	color: #fe9834;
	font-size: 12pt;
	font-weight: bold;
}

#logo {
	position: absolute;
	top: 0;
	left: 5px;
/*	z-index: 0; */
}

#loginform td {
	text-align: right;
}

#servermessage {
	color: red;
	font-size: 12pt;
}

.div_border {
	border-style: solid;
	border-width: 2px;
	border-color: #888888;
	display: inline-block;
}

#import_preview {
	background-color: #eec;
	border: 2px solid #fecb00;
	height: 500px;
	left: 300px;
	overflow: auto;
	padding: 10px;
	position: absolute;
	top: 50px;
	visibility: hidden;
	width: 400px;
}

/* tabs */
.tabs {
	border-bottom: 2px solid #009900;
	clear: both;
	height: 20px;
	list-style: none;
}

.tabs li {
	float: left;
	margin-right: 5px;
	text-align: center;
	width: 100px;
}

.tabs li a {
	background-color: #006b00;
	color: #fe9834;
	display: block;
	font-weight: bold;
	height: 18px;
	padding: 0 3px 0 3px;
	text-decoration: none;
}

.tabs a.active {
	background-color: #009900;
	color: yellow;
	height: 20px;
}
/* end tabs */

.spacer {
	padding-right: 30px;
}

.odd {
	background: #eec;
}

.highlight {
	background: #ab5;
}

.selected {
	background: #80ff80;
}

.red {
	color: red;
}

.clearleft {
	clear: left;
}

.fn {
	font-weight: bold;
}
.tip {
	font:12px/14px Arial,Helvetica,sans-serif;
	border:solid 1px #666666;
	width:270px;
	padding:1px;
	position:absolute; 
	z-index:100;
	visibility:hidden;
	color:#333333;
	top:20px;
	left:90px;
	background-color:#ffffcc;
/*	layer-background-color:#ffffcc; */
}

/* Tablet Modifications */
#popup{
	font-size: 12px;
}

/* Highlight current selection */
:focus { 
	border: 2px solid #900;
	background-color: #FFFF9D;
}

a:focus {
	border: 0px; 
}

input[type=submit], input[type=button], button {
	font-size:15px;
	height:40px;
}

input[type=text], input[type=number], input[type=password] {
	font-size:14px;
	height:30px;
}

input[type=checkbox] {
	height:30px;
	width:20px;
}

a.link:link {
	font-size:13pt;
}

.row {
	height:30px;
}

tr.row td{
	font-size:11pt;
}

#mainav {
/*	display: inline;
	list-style: none; */
	margin: 0 auto;
/*	width: 817px; */
}

#mainav li {
	background: #3a507f;
	display: block;
	float: left;
	margin-right: 2px;
	margin-top: 5px;
	padding-top: 7px;
	padding-bottom: 7px;
	text-align: center;
	width: 100px;
}

#mainav li.active {
        background: #658bc9;
        margin-top: 0;
        padding-top: 12px;
}

#mainav a {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12pt;
		font-weight: bold;
        text-decoration: none;
        color: #dbe5ff;
}

#subnav {
	background: #658bc9;
	clear: both;
/*	margin-top: 2px; */
	padding: 6px;
}

#subnav li {
	background: #658bc9;
	border-right: 1px solid #dbe5ff;
	display: inline;
	margin-top: 15px;
	padding: 6px;
}

#subnav li.active {
	background: #917023;
}

#subnav a {
        font-size: 11pt;
        text-decoration: none;
        color: #dbe5ff;
}

/* Page Tabs */
.dropnav {
	clear: both;
/*	margin-top: 4px; */
	padding: 4px;
	height: 35px;
	position: relative;
	visibility: hidden;
}

.dropnav li {
	background: #067500;
	display: block;
	float: left;
	margin-right: 2px;
	margin-top: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 2px;
	padding-right: 2px;
	text-align: center;
	min-width: 100px;
}

.dropnav li.active {
        background: #2D9B27;
        margin-top: 0;
        padding-top: 8px;
}

.dropnav a {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 11pt;
		font-weight: bold;
        text-decoration: none;
        color: #AFFA9A;
}
/* End Page Tabs */

/* End Tablet Modifications */

/* Phone Modifications */
/* End Phone Modification */

.hidden {
	display: none;
	visibility: hidden;
}
.visible {
	display: block;
	visibility: visible;
	vertical-align: middle;
}

.floatleft {
	float: left
}

.floatright {
	float: right
}

.indent {
	margin-left: 20px;
}
.indent_2 {
	margin-left: 40px;
}
.indent_3 {
	margin-left: 60px;
}

/* Images */
td.redx {
    background-image:url(../images/red_x_tablet.png);
    height:23px;
    width:23px;
    background-repeat: no-repeat;
    background-position: center;
}


/* END Images */